@font-face {
  font-family: 'Consolas';
  src: url('./fonts/CONSOLA.ttf')  format('truetype'),
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  font-family: 'Consolas';
  font-size: 16px;
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;

  overflow-y: scroll; /* Hide vertical scrollbar */
}
.container::-webkit-scrollbar {
  display: none;
}

#terminal-text {
  white-space: pre-wrap;
}

#terminal-input {
  background-color: black;
  color: white;
  font-family: 'Consolas';
  font-size: 16px;
  border: none;
  outline: none;
  width: calc(100% - 12em);
}




.text-color-green {
  color: #8ae134;
}
.text-color-blue {
  color: #719fcd;
}